body{
    background-color: rgb(35, 35, 35);
    padding-top: 25px;
}

#log_output{
    background-color: black;
    border-radius: 10px;

    color: rgb(0, 255, 0);
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;

    width: 35%;
    min-width: 35%;
    max-width: 35%;
    height: 200px;
    min-height: 30%;
    max-height: 30%;

    margin: auto;

    clear: both;
}